<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to My Xecvas POS.">
    <meta name="keywords" content="POS">
    <meta name="author" content="Xecvas">
    <title>Welcome to POS Project</title>
    <link rel="icon" href="{{ url_for('icons', filename='page-icon.ico') }}" type="image/x-icon">

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="{{ url_for('css', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', filename='index.css') }}">

    <!-- JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.8.0/math.min.js"></script>
    <script src="{{ url_for('js', filename='ReleaseData.js') }}"></script>
    <script src="{{ url_for('js', filename='script.js') }}"></script>
</head>

<body>
    <div class="navbar">
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <div class="navbar-left">
                    <!-- Tambahkan tombol burger -->
                    <button id="burger-btn" class="burger-btn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand icon-text" href="{{ url_for('index') }}">
                        <img src="{{ url_for('images', filename='banner-page.jpeg') }}" class="icon" alt="Web Icon"
                            style="width: 100px;">
                        <span class="project-version"></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <!-- Menampilkan email pengguna atau "Account" jika tidak ada sesi -->
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ session['user_email'] if session.get('user_email') else 'Account' }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Change Password</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="notification">
                        <i class="fas fa-bell fa-lg"></i>
                        <span class="dot"></span>
                    </div>

                    <div>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="checkbox-label">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <span class="ball"></span>
                        </label>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="sidebar" class="sidebar collapsed">
        <ul class="sidebar-menu">
            <li><i class="fas fa-home"></i> <span class="label">Home</span></li>
            <li><i class="fas fa-chart-line"></i> <span class="label">Dashboard</span></li>
            <li><i class="fas fa-cogs"></i> <span class="label">Settings</span></li>
        </ul>
    </div>

    <div class="main-content">

        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea earum quo labore porro laboriosam,
            quasi ex necessitatibus? Vel dolorem eius earum quos molestiae eos suscipit nam dignissimos beatae placeat?
        </h1>
        <br>
        <div class="table-container">
            <table id="myDataTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Status</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>28</td>
                        <td>Pending</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Jane Smith</td>
                        <td>34</td>
                        <td>Canceled</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Emily Johnson</td>
                        <td>45</td>
                        <td>Delivered</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Michael Brown</td>
                        <td>22</td>
                        <td>On Process</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Linda Davis</td>
                        <td>31</td>
                        <td>Delivered</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>James Wilson</td>
                        <td>29</td>
                        <td>Pending</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Patricia Garcia</td>
                        <td>38</td>
                        <td>Canceled</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Robert Martinez</td>
                        <td>26</td>
                        <td>On Process</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Jennifer Rodriguez</td>
                        <td>41</td>
                        <td>Delivered</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Charles Lee</td>
                        <td>30</td>
                        <td>Pending</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Elizabeth Walker</td>
                        <td>36</td>
                        <td>Canceled</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>David Hall</td>
                        <td>27</td>
                        <td>On Process</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Jessica Young</td>
                        <td>33</td>
                        <td>Delivered</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Thomas Allen</td>
                        <td>24</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Sarah Hernandez</td>
                        <td>39</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Daniel King</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Laura Wright</td>
                        <td>32</td>
                        <td>Delivered</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Matthew Scott</td>
                        <td>25</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Angela Green</td>
                        <td>40</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Joshua Adams</td>
                        <td>28</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Ashley Baker</td>
                        <td>35</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Christopher Nelson</td>
                        <td>23</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Michelle Carter</td>
                        <td>37</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Brian Mitchell</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Kimberly Perez</td>
                        <td>31</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Kevin Roberts</td>
                        <td>26</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Rebecca Turner</td>
                        <td>42</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Jason Phillips</td>
                        <td>28</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Laura Campbell</td>
                        <td>34</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Eric Parker</td>
                        <td>24</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Sharon Evans</td>
                        <td>39</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Scott Edwards</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Barbara Collins</td>
                        <td>36</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Paul Stewart</td>
                        <td>25</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Donna Sanchez</td>
                        <td>41</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Mark Morris</td>
                        <td>30</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Emily Rogers</td>
                        <td>27</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>John Reed</td>
                        <td>33</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Mary Cook</td>
                        <td>38</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>David Morgan</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Jessica Bell</td>
                        <td>32</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>William Murphy</td>
                        <td>25</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Linda Rivera</td>
                        <td>40</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Steven Cooper</td>
                        <td>28</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Barbara Reed</td>
                        <td>34</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Joseph Bailey</td>
                        <td>24</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Karen Bell</td>
                        <td>39</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Charles Gonzalez</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Lisa Rivera</td>
                        <td>31</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Matthew Wood</td>
                        <td>26</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Michelle Bennett</td>
                        <td>42</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Daniel Hughes</td>
                        <td>28</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Sarah Ward</td>
                        <td>35</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Jason Price</td>
                        <td>23</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Rebecca Bennett</td>
                        <td>37</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Brian Kim</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Kimberly Lee</td>
                        <td>31</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Christopher Jones</td>
                        <td>26</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Angela Thompson</td>
                        <td>41</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Joshua Robinson</td>
                        <td>28</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    <tr>
                        <td>Laura Lewis</td>
                        <td>34</td>
                        <td>Delivered</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Eric Walker</td>
                        <td>24</td>
                        <td>Pending</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td>Sharon Hall</td>
                        <td>39</td>
                        <td>Canceled</td>
                        <td>On Process</td>
                    </tr>
                    <tr>
                        <td>Scott Allen</td>
                        <td>29</td>
                        <td>On Process</td>
                        <td>Paymented</td>
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="text-center">
        <p><img src="{{ url_for('icons', filename='page-icon.ico') }}" width="25" height="25" alt="POS Project"> &copy;
            2024 POS Project. All rights reserved.</p>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="releaseModal" tabindex="-1" aria-labelledby="releaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="releaseModalLabel">Latest Release</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalContent">
                    <!-- Konten akan diisi oleh JavaScript -->
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <!-- Hyperlink tanpa garis bawah -->
                    <a href="/release-note" id="seeAllReleases" class="btn btn-link"
                        style="text-decoration: none;"><b>See All Releases</b></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>