/* Main Content Layout */
.main-content {
    background-color: var(--body-bg);
    color: var(--text-primary);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
    transition: margin-left 0.3s ease;

}

/* Center Content in Card Container */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.cashier-container {
    display: flex;
    overflow: hidden;
    color: var(--text-primary);
    border-radius: 12px;
}

.left-side {
    flex: 1;
    margin-right: 30px;
    min-height: calc(100vh - 150px);
    background-color: var(--table-container);
    border-radius: 12px;
}

.right-side {
    width: 400px;
    border-radius: 12px;
    background-color: var(--table-container);
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Untuk menjaga tata letak vertikal */
    height: calc(100vh - 150px); /* Tetapkan tinggi tetap */
}

.order-summary {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: bold;
    text-align: center;
}

.order-info {
    margin-top: 10px;
    padding-bottom: 5px;
    border-top: 2px solid var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    display: flex;
    flex-direction: column;
    /* Jarak antar item */
}

.info-item {
    margin-top: 5px;
    display: flex;
    align-items: center;
    /* Agar teks sejajar secara vertikal */
}

.label {
    width: 100px;
    text-align: left;
}

.separator {
    margin: 0 5px;
}

.value {
    flex: 1;
    text-align: left;
}



.order-content {
    flex-grow: 1; /* Isi ruang yang tersisa */
    overflow-y: auto; /* Scroll hanya dalam elemen ini */
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: calc(100% - 100px); /* Sesuaikan jika ada konten di atas/bawahnya */
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
}

.order-total {
    border-top: 2px solid var(--text-primary);
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}

.order-total .total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.checkout-btn {
    width: 360px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.order-content::-webkit-scrollbar {
    width: 8px; /* Ketebalan scrollbar */
}

.order-content::-webkit-scrollbar-thumb {
    background: var(--text-primary); /* Warna scrollbar */
    border-radius: 4px; /* Membulatkan scrollbar */
}



