/* Dark Mode Theme */
:root[data-theme="dark"] {
    --navbar-bg: #252c48;
    --sidebar-bg: #252c48;
    --footer-bg: #252c48;
    --body-bg: #1d203a;
    --card-bg: #1d203a;
    --text-primary: #ffffff;
    --text-secondary: #bbbbbb;
    --icon-color: #ffffff;
    --icon-hover: #666666;
    --button-bg: #252c48;
    --button-hover-bg: #666666;
    --accordion-bg: #252c48;
    --border-color: #3c3c3c;
    --input-bg: #2a2a2a;
    --input-placeholder: #666666;
    --disabled-bg: #555555;
    --project-version: #ffffff;
    --notification-bell: #ffffff;
    --dropdown-bg: #1d203a;
    --form-input: #ffffff;
}

:root[data-theme="dark"] #brand-logo {
    content: url('../images/light-banner-page.png');
}

/* Light Mode Theme */
:root[data-theme="light"] {
    --navbar-bg: #ffb347;
    --sidebar-bg: #ffb347;
    --footer-bg: #ffb347;
    --body-bg: #f0edf6;
    --card-bg: #f0edf6;
    --text-primary: #333333;
    --text-secondary: #666666;
    --icon-color: #000000;
    --icon-hover: #ffffff;
    --button-bg: #ffb347;
    --button-hover-bg: #ff7f50;
    --accordion-bg: #f0edf6;
    --border-color: #e5e5e5;
    --input-bg: #ffffff;
    --input-placeholder: #aaaaaa;
    --disabled-bg: #c0c0c0;
    --project-version: #172e6a;
    --notification-bell: #000000;
    --dropdown-bg: #f0edf6;
    --form-input: #ffb347;
}

:root[data-theme="light"] #brand-logo {
    content: url('../images/dark-banner-page.png');
}

/* Light mode */
:root[data-theme="light"] .accordion-body {
    margin: 0px 2px 2px 2px;
}

/* Dark mode */
:root[data-theme="dark"] .accordion-body {
    margin: 0px;
}

.bg-purple {
    background-color: #6f42c1 !important;
    /* Define the purple color */
}

/* Global Reset and Typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

input,
textarea,
select,
button,
form {
    user-select: text;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--text-color);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--navbar-bg) !important;
    color: var(--text-color);
}

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background-color: var(--footer-bg);
    color: var(--text-primary);
}

.project-version {
    color: var(--project-version);
}

/* Navbar link default and hover state */
.navbar-nav .nav-item .nav-link {
    color: var(--text-primary);
    /* Default color white */

    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover state for dropdown toggle (A) */
.navbar-nav .nav-item .nav-link:hover {
    color: var(--text-primary);
    /* Keep it white on hover */
}

/* Active state (when menu B and C are shown) */
.navbar-nav .nav-item.dropdown.show .nav-link {
    color: var(--text-primary);
    /* Keep A white when B or C is shown */
}

.dropdown-menu {
    background-color: var(--sidebar-bg);
}

/* Hover state on dropdown items (B and C) */
.dropdown-menu .dropdown-item {
    color: var(--text-primary);
    /* Default text color white */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    /* Lighter red on hover */
    color: var(--text-secondary);
    /* Keep text white on hover */
}

/* Prevent A from becoming black when hovering over B or C */
.navbar-nav .nav-item.dropdown.show:hover .nav-link {
    color: var(--text-primary);
    /* Ensure A remains white */
}


/* Utility Classes */
.spacer {
    margin-top: 20px;
}

.icon {
    color: var(--icon-color);
    transition: color 0.3s;
}

.icon:hover {
    color: var(--icon-hover);
}

/* Link Styling */
a {
    color: var(--button-bg);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--button-hover-bg);
}

/* form-control */
input.form-control:focus-visible {
    box-shadow: 0 0 5px transparent;
}

/* Card Styles */
.card {
    border: none;
    background-color: var(--card-bg);
    color: var(--text-primary);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.icon-card {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Toggle Switch Styles */
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

/* Icon Circle Checkmark */
.icon-circle {
    width: 24px;
    height: 24px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.icon-check {
    font-size: 14px;
    color: #fff;
}

/* Notification Styling */
.notification {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.notification i.fa-bell {
    color: var(--notification-bell);
}

.notification .dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: -1px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Theme Toogle */
.theme {
    position: absolute;
    right: 12px;
    top: 15px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

.label {
    font-size: 14px;
    color: var(--icon-color);
}

.modal-content {
    background-color: var(--card-bg);
    color: var(--text-primary);
}

.accordion-body {
    border-radius: 12px;
}

.accordion.collapsed {
    background-color: var(--card-bg);
}


.accordion.expanded {
    background-color: var(--card-bg);
}


.accordion-button:focus {
    border: 0 solid;
    box-shadow: 0 0 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    border: 0 solid;
    box-shadow: 0 0 0;
}


/* Calculator Popup */
.calculator-popup {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: var(--body-bg);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1060;
}

.calculator-grid button {
    width: 100%;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.calculator-grid button:hover {
    background-color: #ced4da;
}

.calculator-display {
    background-color: white;
    font-size: 22px;
}

.calculator-grid .btn-equal {
    grid-row: span 3;
    /* Memanjang ke bawah 3 baris */
    height: auto;
    /* Sesuaikan tinggi otomatis agar sesuai dengan grid */
}

.btn-equal {
    color: black;
}

/* Jika elemen valid (misalnya data input sesuai format) */
.form-control:valid {
    border-color: var(--form-input);
}