/* Main Content Layout */
.main-content {
    flex: 1;
    padding: 10px;
    padding-bottom: 5rem;
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 5px;
    transition: margin-left 0.3s;
}

