/* Body and Centered Container */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
}

.container {
    display: flex;
    width: 1000px;
    height: 530px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

/* Left Section Styling */
.left-section {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 40px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 12px 0 0 12px;
}

/* Right Section Styling */
.right-section {
    padding: 40px;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 12px 12px 0;
}

body.dark .right-section h4 {
    color: black;
}

/* Form and Logo Styling */
form {
    width: 100%;
}

.logo-image {
    width: 100%;
    height: auto;
}
